@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
.definition {
  & * {
    font-family: 'Roboto Mono', monospace;
  }

  .title {
    color: rgb(71, 70, 70);
    display: inline-block;

  }
  .subtitle,
  p {
    color: rgb(109, 106, 106);
  }
  ol li::marker {
    color: $support-accent-color;
    position: relative;
    font-weight: bold;
    font-size: 0.8rem;
  }
  li {
    color: rgb(61, 61, 61);
    margin: 0 0 10px 0;
  }
  a {
    cursor: pointer;
    overflow: hidden;
    font-weight: 600 !important;
    text-decoration: none;
    background: linear-gradient(
      to right,
      rgb(65, 23, 107),
      rebeccapurple 50%,
      rgb(145, 85, 201) 50%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 400ms ease;
  }
  a:hover {
    background-position: 0 100%;
  }
}
