.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
.yarl__container {
  background-color: white;
}
.yarl__root {
  --yarl__color_backdrop: white;

  .yarl__button {
    filter: none;
    color: $primary-font-color;
    &:hover,
    &:focus,
    &:focus:not(:focus-visible),
    &:active {
      color: $support-accent-color;
    }
    &:disabled {
      color: lighten($support-accent-color, 10%);
    }
  }
}
.MuiImageListItem-root {
  display: flex;
  justify-content: flex-start;
}
.carousel-item{
  transition:transform 0.2s ease-in-out;
}