// Required
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap/scss/functions';

// Default variable overrides
// Variables
@import './variables.scss';

// Required
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

// Components
@import './components/definitions.scss';
@import './components/navbar.scss';
// Pages
@import './pages/misc.scss';
// Extras
@import './Home.module.scss';
@import './components.scss';
@import './font-faces/roboto-mono.scss';
// @import './font-faces/roboto.scss';
// @import './font-faces/manrope.scss';
@import './font-faces/jost.scss';
// @import './font-faces/josefin-sans.scss';

.responsive-title {
  @media (max-width: 576px) {
    font-size: 7.5vw !important;
  }
}
.no-style-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  &.duck-link:hover {
    color: $duck-color;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family:$font-family !important;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.scroll-lock {
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: $primary-font-color;
    background: tint-color($primary-accent-color, 98%);
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }

  body {
    color: $primary-font-color;
    background: tint-color($primary-accent-color, 97%);
  }
}
footer {
  text-align: center;
  padding: 0.5rem;
  font-weight: 100;
}
.img-subtitle {
  display: block;
  float: right;
  font-size: 0.8rem;
  color:  $primary-font-color;
  font-weight: 200;
  font-family: $font-family-monospace;
}
.preview-imgs {
  cursor: pointer;
}
