// Required
@import 'bootstrap/dist/css/bootstrap-utilities.min.css';
@import 'bootstrap/scss/functions';

// Default variable overrides
// Variables
@import './variables.scss';

// Components
@import './components/definitions.scss';
@import './components/navbar.scss';
// Pages
@import './pages/misc.scss';

// @import './font-faces/roboto-mono.scss';

// @import './font-faces/roboto.scss';
// @import './font-faces/manrope.scss';
@import './font-faces/jost.scss';
// @import './font-faces/josefin-sans.scss';

@import 'react-grid-layout/css/styles.css';
@import 'react-resizable/css/styles.css';


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  font-family: $font-family !important;
  height: 100%;
  min-height: 100%;
  background-color: var(--mui-palette-background-default);
  color: var(--mui-palette-text-primary);
}

body {
  display: flex;
  flex-direction: column;
}

#__next {
  display: flex;
  flex-direction: column;
  flex: 1;

  .main-content {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;

  }
}

.no-style-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &.duck-link:hover {
    color: $duck-color;
  }
}

.scroll-lock {
  overflow-y: hidden;
}

.preview-imgs {
  cursor: pointer;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cursor-pointer {
  cursor: pointer;
}

.react-grid-item {
  overflow: hidden;

  img {
    pointer-events: all;
  }

  .react-resizable-handle {
    background-color: white;
  }
}

@media only screen and (min-width: 600px) {
  .absolute-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

.no-pointer-event {
  pointer-events: none;
}






// TEST

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
