$primary-accent-color: #f56918;
$primary-font-color: #392d34;
$secondary-accent-color: #d8f518;
$support-secondary-accent-color: #f1ff96;
$support-accent-color: #ff6bb5;
$duck-color: #ffd801;
$menu-bg-color: $primary-accent-color;

$font-family-monospace: 'Roboto Mono', monospace;
$font-family: 'Jost', sans-serif;

