// $primary-accent-color: #f56918;
// $primary-font-color: #392d34;
// $secondary-accent-color: #d8f518;
// $support-secondary-accent-color: #f1ff96;
// $support-accent-color: #ff6bb5;

$primary-accent-color: #8748C5;
$support-primary: #AB73E2;
$secondary-accent-color: #F5B40F;
// $primary-accent-color: #F2B823;
$duck-color: #ffd801;
$primary-accent-color-tint: #ffc641;
$primary-font-color: #0e200b;
$support-secondary-accent-color: hsl(270, 40%, 65%);
$support-accent-color: hotpink;
$bg-color: white;
$menu-bg-color: $primary-accent-color;

$font-family-monospace: 'Roboto Mono', monospace;
$font-family: 'Jost', sans-serif;
