$primary-accent-color: #f56918;
$secondary-accent-color: #d8f518;
$support-secondary-accent-color: #f1ff96;
$support-accent-color: hotpink;
$duck-color: #ffd801;
$menu-bg-color: $primary-accent-color;
